.progress-bar-container {
  background: transparent;
  width: 100%;
  height: 4px;
  position: fixed;
  top: 65px;
  overflow: hidden;
  margin: 0px;
  z-index: 9;

  .progress-bar-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 30%;
    opacity: 0.8;
    background: linear-gradient(
      90deg,
      #160699 0%,
      #011465 24%,
      #011651 50%,
      #36508b 78%,
      #232cac 100%
    );
    animation-name: progress;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transform: translateX(10%);
  }

  @keyframes progress {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
}
